.h1,
.h2 {
    margin: 0;
    padding: 0 8px;
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
}

.link-header {
    position: relative;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    text-decoration: none;
    height: 100%;
    /* background-image: url('../../img/cart.png'); */
    background-color: transparent;
}

.cart {
    height: 64px;
}

.quantity {
    background-color: transparent;
    font-size: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    /* border: 1px solid white;
    border-radius: 50%; */
    margin: 0;
    padding: 0;
}