.product-card {
    margin: auto;
    padding: 8px;
    width: 1200px;
    height: 480px;
    display: flex;
    flex-direction: column;
}

.breadcrumbs {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    counter-reset: flag;
}

.breadcrumbs a {
    position: relative;
    float: left;
    padding-left: 60px;
    padding-right: 10px;
    text-decoration: none;
    line-height: 36px;
    color: black;
    background: white;
    transition: all 0.3s;
}

.breadcrumbs a::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    z-index: 1;
    width: 36px;
    height: 36px;
    background: white;
    box-shadow: 1px 1px 0 1px #ddd;
    border-radius: 50px 0 0 0;
    transform: rotate(-45deg) scale(0.73);
    transition: all 0.3s;
}

.breadcrumbs a:hover,
.breadcrumbs a:hover::after,
.breadcrumbs a.active,
.breadcrumbs a.active::after{
    background: #b89adf;
}

.breadcrumbs a::before {
    /* content: counter(flag);
    counter-increment: flag; */
    position: absolute;
    top: 8px;
    left: 30px;
    line-height: 20px;
    box-shadow: 0 0 2px #ccc;
    width: 20px; background-color: white;
    border-radius: 50%;
}

.breadcrumbs a:first-child {
    padding-left: 46px;
}

.breadcrumbs a:first-child::before {
    left: 14px;
}

.product-card-container {
    margin: auto;
    padding: 8px;
    border: 2px solid red;
    border-radius: 8px;
    width: 1200px;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.product-gallery {
    width: 160px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
}

.product-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    margin: 8px;
}

.product-title {
    margin: 0;
    padding: 4px;
}

.product-description,
.product-price {
    margin: 0;
    padding: 4px;
    font-size: 18px;
}

.product-price {
    font-size: 36px;
}

.product-thumb {
    margin: 4px;
    border: 1px solid red;
    width: 90%;
    object-fit: contain;
}

.product-img {
    margin: 8px;
    width: 320px;
    object-fit: contain;
}

.product-buttons {
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.product-buttons button {
    width: 40%;
}
