.gallery {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    overflow-y: auto;
}

.card {
    margin: 10px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    overflow: hidden;
}

.tiles {
    width: 340px;
    height: 340px;
    flex-direction: column;
}

.linear {
    width: 100%;
    height: 200px;
    flex-direction: row;
}

.wrapper {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    overflow: hidden;
}

.title {
    padding: 4px;
    margin: 0;
    font-size: 12px;
}

.tiles .card-buttons {
    width: 100%;
}

.linear .card-buttons {
    width: 240px;
    font-size: 24px;
}

.tiles .info {
    padding: 4px;
    margin: 0;
    font-size: 12px;
}

.linear .info {
    width: calc(100% - 460px);
    padding: 16px;
    margin: 0;
    font-size: 24px;
}

.card div p {
    padding: 0;
    margin: 0;
}

.card img {
    display: block;
    padding: 4px;
    height: 180px;
    object-fit: contain;
}
