.h1,
.h2 {
    margin: 0;
    padding: 0 8px;
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
}

.link-header {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    text-decoration: none;
    height: 100%;
    /* background-image: url('../../img/cart.png'); */
    background-color: transparent;
}
